* {
    text-align: center;
}

.solid {
    border: 10px solid red;
    width: 100px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px 50px 40px 30px;
}

.dashed {
    border: 10px dashed blue;
    width: 100px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px 50px 40px 30px;
}

.dotted {
    border: 10px dotted green;
    width: 100px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px 50px 40px 30px;
}

.double {
    border: 10px double black;
    width: 100px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px 50px 40px 30px;
}

.groove {
    border: 10px groove yellow;
    width: 100px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px 50px 40px 30px;
}

.ridge {
    border: 10px ridge purple;
    width: 100px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px 50px 40px 30px;
}

.inset {
    border: 10px inset aqua;
    width: 100px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px 50px 40px 30px;
}

.outset {
    border: 10px outset orange;
    width: 100px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px 50px 40px 30px;
}
